@use 'app/style/variables' as *;

$pagePadding: 48px;

.main {
	margin-left: auto;
	margin-right: auto;

	display: flex;
	max-width: 794px;
	min-height: 100vh;

	flex-direction: column;
	background-color: $grey;
	box-shadow: $shadowMedium;

	@media print {
		width: 100%;
	}
}

.header {
	$bgBreakPoint: 70%;
	background: linear-gradient(
		to bottom,
		$darkBlue $bgBreakPoint,
		$grey $bgBreakPoint 100%
	);

	padding: 128px $pagePadding 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: end;
}

.nameAndContact {
	.mainTitle {
		font-size: 86px;
		font-weight: 700;
		line-height: 0.9;
	}

	.subTitle {
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 24px;
	}

	.mainTitle,
	.subTitle {
		text-transform: uppercase;
	}

	.contact {
		margin-top: 32px;
		color: $darkBlue;
	}
}

.content {
	display: grid;
	gap: 18px;
	grid-template-columns: 2fr 1fr;
	grid-auto-flow: row;
	padding: $pagePadding;

	color: $darkBlue;

	.contentSubContainer {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}
