@use '~/style/variables' as *;

$pagePadding: 48px;
$reducedPagePadding: 24px;

.main {
	position: relative;
	z-index: $zIndexMainContent;
	container-type: inline-size;

	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-between;

	max-width: $resumeWidth;
	min-height: $resumeHeight;

	flex-direction: column;
	background-color: $grey;
	box-shadow: $shadowMedium;

	@media print {
		width: 100%;
	}
}

.header {
	--bg-breakpoint: 230px;
	background: linear-gradient(
		to bottom,
		$darkBlue var(--bg-breakpoint),
		$grey var(--bg-breakpoint) 100%
	);

	padding: 70px $pagePadding 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: end;

	@container (max-width: #{$breakpointSmallLayout}) {
		--bg-breakpoint: 200px;

		gap: 48px 0;
		grid-template-columns: 1fr;
		padding: 70px $reducedPagePadding $reducedPagePadding;
		justify-items: center;
	}
}

.nameAndContact {
	align-self: start;

	.mainTitle {
		font-size: 86px;
		font-weight: 700;
		line-height: 0.9;

		@container (max-width: #{$breakpointSmallLayout}) {
			font-size: 64px;
		}

		@media print {
			/* Fix: Chromium applique un scaling différent entre écran et impression
       Scale 1.023 compense l'écart de rendu pour correspondre à l'affichage viewport */
			transform: scale(1.023);
			transform-origin: left top; /* Ajuster selon vos besoins */
		}
	}

	.subTitle {
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 24px;
	}

	.mainTitle,
	.subTitle {
		text-transform: uppercase;
	}

	.contact {
		margin-top: 32px;
		color: $darkBlue;
	}
}

.content {
	display: grid;
	gap: 18px;
	grid-template-columns: 2fr 1fr;
	grid-auto-flow: row;
	padding: 24px $pagePadding $pagePadding;

	color: $darkBlue;

	@container (max-width: #{$breakpointSmallLayout}) {
		grid-template-columns: 1fr;
		padding: $reducedPagePadding $reducedPagePadding;
	}

	.contentSubContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
	}
}

.languages {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	gap: 18px;
}
