@use '~/style/variables' as *;

.header {
	position: fixed;
	z-index: $zIndexMainContent;

	@media print {
		display: none;
	}
}

.footer {
	position: fixed;
	z-index: $zIndexMainContent;

	bottom: 0;

	@media print {
		display: none;
	}
}

.githubLink {
	background-color: lightgrey;
	border-radius: 0 0 8px 0;
	box-shadow: $shadowMedium;

	display: block;
	padding: 4px;

	.logo {
		width: 32px;
	}
}
