@use '~/style/variables' as *;

.header {
	position: absolute;
	z-index: $zIndexHeaderFooter;
	left: 15px;

	display: flex;
	align-items: start;
	gap: 16px;

	@media print {
		display: none;
	}

	@media (max-width: #{$breakpointSmallLayout}) {
		left: unset;
		right: 15px;
	}

	@media (max-width: #{$resumeWidth}) {
		.backgroundSelect {
			display: none;
		}
	}
}

.githubLink {
	color: white;

	.logo {
		width: 25px;
		height: auto;
	}
}

.main {
	position: relative;
}
