@use '~/style/variables' as *;

.background {
	position: absolute;
	z-index: $zIndexBackground;
	width: 100%;
	min-height: 100vh;

	top: 0;
	bottom: 0;

	background-color: lightblue;
}

.ripplesSelect {
	z-index: $zIndexHeaderFooter;

	position: fixed;
	bottom: 12px;
	left: 12px;

	display: flex;

	@media print {
		display: none;
	}

	@media (max-width: #{$resumeWidth}) {
		display: none;
	}

	.icon {
		width: 24px;
	}
}
