@use '~/style/variables' as *;

.waterCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $zIndexBackground;
	cursor: pointer;

	@media print {
		display: none;
	}

	@media (max-width: #{$breakpointSmallLayout}) {
		display: none;
	}
}
