@use '~/style/variables' as *;

.veil {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: $zIndexCurtains;

	cursor:
		url('./assets/crosshair.svg') 32 32,
		crosshair;
}

.target {
	position: absolute;
	z-index: 1;

	--target-spin-speed: 5000s; // Default value, overridden by inline styles

	animation-name: rotate;
	animation-duration: var(--target-spin-speed);
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

.conffeti {
	position: absolute;
	z-index: 2;
	pointer-events: none; // Allow clicks to pass through the confetti layer

	width: 0; // Default value, overridden by inline styles
	height: auto;
}
