html,
body {
	font-family: 'Inter', ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	background-color: rgba(15, 15, 15);
	color: white;
}

.error_boundary {
	padding: 16px;
	padding-top: 64px;
	margin-inline: auto;
	max-width: 90%;

	.error_stacktrace {
		width: 100%;
		padding: 16px;
		overflow-x: auto;
	}
}
