@use '~/style/variables' as *;

select {
	background: transparent;
	border: none;
	color: $fontColorTitle;

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: solid $fontColorTitle;
	}

	option {
		color: black;
		background: transparent;
	}
}

button {
	border: none;
	background: $darkBlue;
	color: $fontColorTitle;

	padding: 8px;
	border-radius: 4px;

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: solid $fontColorTitle;
	}
}
