@use '~/style/variables' as *;
@use 'sass:color';

select {
	background: transparent;
	border: none;
	color: $fontColorTitle;

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: solid $fontColorTitle;
	}

	option {
		color: black;
		background: transparent;
	}
}

button {
	border: none;
	background: $darkBlue;
	color: $fontColorTitle;
	cursor: pointer;

	padding: 8px;
	border-radius: 4px;

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: solid $fontColorTitle;
	}

	&:disabled {
		background-color: #{color.scale($darkBlue, $lightness: -30%)};
		cursor: default;
	}
}
