.container {
	height: 290px;
	width: fit-content;
	position: relative;
}

.picture {
	aspect-ratio: 4/5;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.badge {
	$size: 96px;

	position: absolute;
	width: $size;
	top: calc($size / -3);
	right: calc($size / -3);
	user-select: none;
}
