@use '~/style/variables' as *;
@use 'sass:color';

.group {
	display: grid;
	grid-auto-flow: column;
	gap: 2px;
}

.button {
	border-radius: 0 0 4px 4px;
	padding: 8px;
	background: $darkBlue;
	font-size: 0.9rem;

	box-shadow: $shadowMedium;

	&.disabled {
		background-color: #{color.scale($darkBlue, $lightness: -30%)};
		cursor: default;
	}
}

.icon {
	width: 20px;
}
