@use '~/style/variables' as *;
@use 'sass:color';

@property --banner-bg-color {
	syntax: '<color>';
	initial-value: white;
}

@property --banner-line-color {
	syntax: '<color>';
	initial-value: black;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&.light {
		--banner-bg-color: #{$fontColorTitle};
		--banner-line-color: #{$darkBlue};

		&:hover {
			--banner-bg-color: #{color.scale($fontColorTitle, $lightness: -30%)};
		}
	}

	&.dark {
		--banner-bg-color: #{$darkBlue};
		--banner-line-color: #{$fontColorTitle};

		&:hover {
			--banner-bg-color: #{color.scale($darkBlue, $lightness: -30%)};
		}
	}
}

.bookmark {
	width: 50px;
	height: auto;

	.background {
		fill: var(--banner-bg-color);
	}

	.line {
		stroke: var(--banner-line-color);
	}
}

.content {
	position: absolute;
	padding-bottom: 25%;
}
